* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.invisible {
    visibility: hidden;
}

.backgraund1 img {
    position: relative;
    width: 100%;
    z-index: 1;
}
.container .logo1 a img{
    position: absolute;
    top: 0.6%;
    z-index: 80;
    width: 15%;
    left: 1.5%;
}
.reff {
    margin: 5% 1%;
}

.reffe ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 2% 3%;
}

.reffe ul li {
    list-style: none;
}

.reffe a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.7vw;
}

.reffe p {
    color: black;
    text-align: center;
    font-size: 1.7vw;
}

.reffe img {
    position: relative;
    left: 45%;
    width: 10%;
}

.nav {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0vw 20vw;
    position: absolute;
    top: 2vw;
    z-index: 100;
    left: 13vw;
}
.nav li a {
    text-decoration: none;
    color: black;
    font-size: 2.3vw;
    text-align: center;
    margin: 0 4.5vw;
    font-weight: 900;
}
.presentacion img {
    position: absolute;
    z-index: 5;
    top: 6vw;
    left: 5vw;
    width: 90%;
}
.presentacion .boton a {
    text-align: center;
    z-index: 10;
    position: absolute;
    top: 55vw;
    left: 23vw;
    text-decoration: none;
    color: white;
    font-size: 2.5vw;
    background-image: linear-gradient(to right, rgb(198, 222, 255), rgb(96, 96, 255));
    padding: 0.5vw 1vw;
    width: 16vw;
    height: 4vw;
    border-radius: 10vw;
}
.grafic iframe {
    position: absolute;
    top: 75vw;
    z-index: 10;
}
.grafic h2 {
    position: absolute;
    top: 71vw;
    z-index: 10;
    left: 27vw;
}
.grafic img {
    position: absolute;
    z-index: 5;
    top: 71vw;
    width: 97%;
    height: 83vw;
    left: 1.5vw;
}
.titulo h2 {
    position: absolute;
    top: 9.5vw;
    left: 40vw;
    font-size: 4vw;
    z-index: 30;
}
.opacity .op1 {
    position: absolute;
    top: 15vw;
    z-index: 10;
    width: 90%;
    height: 38vw;
    left: 5vw;
    border: 0.1vw solid black;
    border-radius: 3vw;
}
.opacity .op2 {
    position: absolute;
    top: 60vw;
    z-index: 10;
    width: 90%;
    height: 38vw;
    left: 5vw;
    border: 0.1vw solid black;
    border-radius: 3vw;
}
.opacity .op3 {
    position: absolute;
    top: 105vw;
    z-index: 10;
    width: 90%;
    height: 38vw;
    left: 5vw;
    border: 0.1vw solid black;
    border-radius: 3vw;
}
.img1 img {
    position: absolute;
    top: 16.8vw;
    left: 7vw;
    border-radius: 3vw;
    z-index: 20;
    width: 40vw;
}
.img2 img {
    position: absolute;
    top: 61.8vw;
    left: 51vw;
    border-radius: 3vw;
    z-index: 20;
    width: 40vw;
}
.img3 img {
    position: absolute;
    top: 106.8vw;
    left: 7vw;
    border-radius: 3vw;
    z-index: 20;
    width: 40vw;
}
.tl1 h3 {
    position: absolute;
    z-index: 30;
    top: 17vw;
    left: 50vw;
    font-size: 4vw;
    color: black;
    background-image: linear-gradient(to right, rgb(198, 222, 255), rgb(96, 96, 255));
    padding: 0.5vw 1vw;
    border-radius: 10vw;
}
.tl2 h3 {
    position: absolute;
    z-index: 30;
    top: 62vw;
    left: 34vw;
    font-size: 4vw;
    color: black;
    background-image: linear-gradient(to right, rgb(198, 222, 255), rgb(96, 96, 255));
    padding: 0.5vw 1vw;
    border-radius: 10vw;
}
.tl3 h3 {
    position: absolute;
    z-index: 30;
    top: 107vw;
    left: 50vw;
    font-size: 4vw;
    color: black;
    background-image: linear-gradient(to right, rgb(198, 222, 255), rgb(96, 96, 255));
    padding: 0.5vw 1vw;
    border-radius: 10vw;
}
.dc1 {
    position: absolute;
    top: 24vw;
    left: 50vw;
    z-index: 30;
    height: 5vw;
}
.dc2 {
    position: absolute;
    top: 70vw;
    left: 8vw;
    z-index: 30;
    height: 5vw;
}
.dc3 {
    position: absolute;
    top: 114.5vw;
    left: 50vw;
    z-index: 30;
    height: 5vw;
}